body {height:3000px;color:#fff;text-align:center; margin:0; padding:0;}
.test { width:100%;height:50px; background:black; text-align:center;top:0;left:0;}
header {flex:1 1 100%; height:100px;}
.fix {
  position:fixed;
  animation: down 0.3s ease;
  
}
	